<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <% if(products.length) { %>
        <div>
            <ul>
                <% for(var i = 0; i < products.length; i++) { %>
                    <li><%= products[i].title %></li> 
                <% } %>
            </ul>
        </div>
   <% } else { %>
        <div>
            No Products
        </div>
   <% } %>
</body>
</html>