$font-stack: Helvetica, sans-serif;
$primary-color: #333;

@mixin theme($theme: DarkGray) {
  background: $theme;
  box-shadow: 0 0 1px rgba($theme, .25);
  color: #fff;
}

.App {
  text-align: center;
  .first {
    background-color: $primary-color;
    color: #fff;
  }
  .second {
    @include theme($theme: DarkRed);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  background-color: #fff;
  &:hover {
    background-color: #000;
  }
  .child {
    color: #fff;
    .grand-child {
      border: solid 1px;
    }
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
